* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("../../../img/FONDOHOME.jpg");
  background-size: cover;
  font-weight: 900;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 9px;
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 5vh;
  margin-left: 3px;
  margin-bottom: 1vh;
  text-align: center;
  vertical-align: top;
}

.wrapper2 select {
  background-color: transparent;
  width: 100%;
  height: auto;
  border-radius: 2%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  text-shadow: 1px 1px 2px black;
}

.wrapper2 select:hover {
  background-color: rgb(248, 196, 98);
  font-weight: 600;
  color: rgb(124, 52, 3);
  transition: 0.5s;
  text-shadow: 1px 1px 2px black;
}

.Sortby,
.Filterby {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2vh;
  float: left;
  font-size: 1vw;
  align-self: flex-start;
  text-align: left;
  align-items: center;
  object-fit: contain;
}

.loading2 {
  display: flex;
  flex-direction: row;
  margin-left: 85vh;
  border: 1px solid black;
}

@media (max-width: 300px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3px;
  }
  .wrapper,
  .wrapper2 {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
  }
  .Sortby,
  .Filterby {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 40px;
    margin-top: 1vh;
    width: 90%;
    align-self: center;
    text-align: center;
    align-items: center;
    object-fit: contain;
  }
  .wrapper2 select {
    font-size: 3vh;
  }

  .loading2 {
    margin-left: 3vh;
  }
}

@media (min-width: 300px) and (max-width: 570px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3px;
  }
  .wrapper,
  .wrapper2 {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
  }
  .Sortby,
  .Filterby {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 40px;
    margin-top: 1vh;
    width: 90%;
    align-self: center;
    text-align: center;
    align-items: center;
    object-fit: contain;
  }
  .wrapper2 select {
    font-size: 3vh;
  }

  .loading2 {
    margin-left: 3vh;
  }
}

@media (min-width: 570px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-right: 16px;
    margin: 5px;
  }

  .wrapper2 {
    margin-left: 12vh;
    margin-right: 5vh;
  }
}

@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
  }

  .wrapper2 {
    margin-left: 12vh;
    margin-right: 5vh;
  }
}

@media (min-width: 1150px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
  }

  .wrapper2 {
    margin-left: 12vh;
    margin-right: 5vh;
  }
}
